{
  "name": "{{ project_name }}",
  "version": "{{ project_version }}",
  "description": "{{ project_description }}",
  "readme": "{{ project_readme }}",
  "repository": {
    "type": "git",
    "url": "{{ project_git_url }}"
  }
}
