{
  "name": "boids-api",
  "version": "{{ project_version }}",
  "description": "API specification for the Boids application",
  "readme": "README.md",
  "repository": {
    "type": "git",
    "url": "git@github.com:kerrys-learning-lab/boids-api.git"
  }
}
