[tool.poetry]
name = "{{ .project_name }}"
version = "{{ .project_version }}"
description = "{{ .project_description }}"
authors = [ {{ .project_authors }} ]
readme = "{{ .project_readme }}"
repository = "{{ .project_git_url }}"
