[tool.poetry]
name = "boids_api"
version = "{{ project_version }}"
description = "API specification for the Boids application"
authors = [ "Kerry Johnson <kerry.t.johnson@gmail.com>" ]
readme = "README.md"
repository = "git@github.com:kerrys-learning-lab/boids-api.git"
